body {
    background-color: rgb(0, 128, 58);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: chartreuse;
    background-color: rgb(0, 78, 33);
}

h2 {
    color: bisque;
}

p {
    text-align: justify;
    color: cadetblue;
}